---
import {
  differenceInCalendarDays,
  eachDayOfInterval,
  formatISO,
  getDay,
  getMonth,
  getYear,
  nextDay,
  parseISO,
  subWeeks
} from 'date-fns'

interface GitHubActivityDay {
  date: string
  count: number
  level: number
}

interface GitHubActivityApiResponse {
  contributions: Array<GitHubActivityDay>
  total: {
    lastYear: number
    [year: string]: number
  }
}

interface Props {
  username: string
}

async function fetchData(username: string): Promise<GitHubActivityApiResponse> {
  const apiUrl = 'https://github-contributions-api.jogruber.de/v4/'
  const response = await fetch(`${apiUrl}${username}?y=last`)
  const data = (await response.json()) as GitHubActivityApiResponse
  if (!response.ok) {
    const message = (data as any).error || 'Unknown error'
    throw Error(`Fetching GitHub contribution data for "${username}" failed: ${message}`)
  }
  return data
}

function fillHoles(activities: Array<GitHubActivityDay>): Array<GitHubActivityDay> {
  const calendar = new Map<string, GitHubActivityDay>(activities.map((a) => [a.date, a]))
  const firstActivity = activities[0]
  const lastActivity = activities[activities.length - 1]

  return eachDayOfInterval({
    start: parseISO(firstActivity.date),
    end: parseISO(lastActivity.date)
  }).map((day) => {
    const date = formatISO(day, { representation: 'date' })
    return calendar.get(date) ?? { date, count: 0, level: 0 }
  })
}

function groupByWeeks(activities: Array<GitHubActivityDay>) {
  const normalized = fillHoles(activities)
  const firstDate = parseISO(normalized[0].date)
  const firstCalendarDate = getDay(firstDate) === 0 ? firstDate : subWeeks(nextDay(firstDate, 0), 1)
  const padded = [
    ...(Array(differenceInCalendarDays(firstDate, firstCalendarDate)).fill(
      undefined
    ) as Array<GitHubActivityDay>),
    ...normalized
  ]
  const numberOfWeeks = Math.ceil(padded.length / 7)
  return [...Array(numberOfWeeks).keys()].map((i) => padded.slice(i * 7, i * 7 + 7))
}

function getMonthLabels(weeks: Array<Array<GitHubActivityDay>>) {
  const monthNames = [
    'Jan',
    'Feb',
    'Mar',
    'Apr',
    'May',
    'Jun',
    'Jul',
    'Aug',
    'Sep',
    'Oct',
    'Nov',
    'Dec'
  ]
  return weeks.reduce<{ weekIndex: number; label: string }[]>((labels, week, weekIndex) => {
    const firstActivity = week.find((a) => a)
    if (!firstActivity) return labels
    const month = monthNames[getMonth(parseISO(firstActivity.date))]
    if (weekIndex === 0 || labels.at(-1)?.label !== month) {
      labels.push({ weekIndex, label: month })
    }
    return labels
  }, [])
}

const { username } = Astro.props as Props
const data = await fetchData(username)

const activities = data.contributions
const totalCount = data.total.lastYear
const activityYear = getYear(parseISO(activities[0].date))

const blockSize = 12
const blockMargin = 4
const blockRadius = 2
const fontSize = 14
const labelMargin = 8
const labelHeight = fontSize + labelMargin
const weeks = groupByWeeks(activities)
const width = weeks.length * (blockSize + blockMargin) - blockMargin
const height = labelHeight + (blockSize + blockMargin) * 7 - blockMargin
const monthLabels = getMonthLabels(weeks)
---

<div class="overflow-x-auto w-full" style="max-width: 90vw;">
  <svg class='block' width={width} height={height} viewBox={`0 0 ${width} ${height}`}>
    <g>
      {
        monthLabels.map(({ label, weekIndex }) => (
          <text
            x={(blockSize + blockMargin) * weekIndex}
            y={0}
            dominant-baseline='hanging'
            fill='currentColor'
          >
            {label}
          </text>
        ))
      }
    </g>
    {
      weeks.map((week, wi) => (
        <g transform={`translate(${(blockSize + blockMargin) * wi}, 0)`}>
          {week.map((activity, di) =>
            activity ? (
              <rect
                class:list={[
                  'stroke-foreground/10, hover:opacity-80',
                  activity.level === 0 && 'fill-[#ebedf0] dark:fill-[#161b22]',
                  activity.level === 1 && 'fill-[#c6e48b] dark:fill-[#0e4429]',
                  activity.level === 2 && 'fill-[#7bc96f] dark:fill-[#006d32]',
                  activity.level === 3 && 'fill-[#239a3b] dark:fill-[#26a641]',
                  activity.level === 4 && 'fill-[#196127] dark:fill-[#39d353]'
                ]}
                x={0}
                y={labelHeight + (blockSize + blockMargin) * di}
                width={blockSize}
                height={blockSize}
                rx={blockRadius}
                ry={blockRadius}
                data-date={activity.date}
                data-level={activity.level}
              >
                <title>{`${activity.count} contributions on ${activity.date}`}</title>
              </rect>
            ) : null
          )}
        </g>
      ))
    }
  </svg>
</div>
<footer class='flex items-center justify-between'>
  <div>{totalCount} contributions in {activityYear} ~ {activityYear + 1}</div>
  <div class='flex items-center gap-1'>
    <span>Less</span>
    {
      [0, 1, 2, 3, 4].map((level) => (
        <svg width={blockSize} height={blockSize}>
          <rect
            width={blockSize}
            height={blockSize}
            rx={blockRadius}
            ry={blockRadius}
            class:list={[
              level === 0 && 'fill-[#ebedf0] dark:fill-[#161b22]',
              level === 1 && 'fill-[#c6e48b] dark:fill-[#0e4429]',
              level === 2 && 'fill-[#7bc96f] dark:fill-[#006d32]',
              level === 3 && 'fill-[#239a3b] dark:fill-[#26a641]',
              level === 4 && 'fill-[#196127] dark:fill-[#39d353]'
            ]}
          />
        </svg>
      ))
    }
    <span>More</span>
  </div>
</footer>
